<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carstoreapi.car.model.CarDAO">


    <select id="getCarList" resultType="com.example.carstoreapi.car.model.CarDTO">
        SELECT * FROM Car Where isDel = 'N';
    </select>

    <select id="getPageCarList" resultType="com.example.carstoreapi.car.model.CarDTO">
        <![CDATA[
        select *
        from (
                 select @rownum:=@rownum+1 as rn, car.*
                 from(select @rownum :=0)as rn, car
             ) car
        where rn > (#{pageNum} -1)* #{amount} and rn <= #{pageNum} * #{amount};
        ]]>
    </select>

    <select id="getTotalCar" resultType="int">
        select count(*) from car where carId>0
    </select>

    <insert id="postCar" parameterType="com.example.carstoreapi.car.model.CarDTO">
        insert into Car (carId, mid,author, carName, subCarName, national, year, distance, fuel, area, price, content, writeDate, writeTime, readCount)
        values (#{carId}, #{mid}, #{author}, #{carName}, #{subCarName}, #{national}, #{year},#{distance},#{fuel},#{area},#{price},#{content},#{writeDate}, #{writeTime}, 0)
    </insert>

    <update id="putCar" parameterType="com.example.carstoreapi.car.model.CarDTO">
        UPDATE Car
        SET carName=#{carName},
            distance=#{distance},
            area=#{area},
            price=#{price},
            content=#{content},
            writeDate=#{writeDate},
            writeTime=#{writeTime}
        WHERE carId=#{carId}
    </update>

    <update id="updateIsDelCarById" parameterType="int">
        UPDATE Car
        SET isDel= 'Y'
        WHERE carId = #{carId}
    </update>

    <select id="getCarById" parameterType="int" resultType="com.example.carstoreapi.car.model.CarDTO">
        SELECT * from CAR
        WHERE carId = #{carId}
    </select>

    <update id="updateReadCount" parameterType="int">
        UPDATE Car
        SET readCount = readCount + 1
        WHERE carId = #{carId}
    </update>


    <insert id="fileUpload" parameterType="com.example.carstoreapi.car.model.FileDTO">
        insert into file (carId, fileName)
        values (#{carId},#{fileName})
    </insert>

    <select id="maxCarId"  resultType="int">
        SELECT MAX(carId) AS carId FROM car;
    </select>

    <update id="thumbUpload" parameterType="com.example.carstoreapi.car.model.CarDTO">
        update Car
        SET thumb = #{thumb}
        WHERE carId = #{carId}
    </update>

    <select id="getCarCount" parameterType="long" resultType="long">
        select COUNT (*)
        FROM Car
        WHERE mid = #{mid}
    </select>

    <select id="getMyCar" parameterType="long" resultType="com.example.carstoreapi.car.model.CarDTO">
        Select a.carId, a.mid, a.subCarName, a.readCount, COUNT(b.carId) as commentCount, a.thumb, a.isDel
        FROM Car a
                 Left join Comment b
                           ON a.carId = b.carId
        Where a.mid = #{mid}  GROUP BY a.carId
    </select>

    <update id="putAuthor" parameterType="com.example.carstoreapi.car.model.CarDTO">
        UPDATE Car
        SET author = #{author}
        WHERE mid = #{mid}
    </update>

   <!-- <select id="getCountComment" parameterType="int" resultType="com.example.carstoreapi.car.model.CountDTO">
        Select a.carId, COUNT(b.carId) As commentCount
        FROM Car a
                 Left join Comment b
                           ON a.carId = b.carId
        Where 1 GROUP BY a.carId

    </select>-->

    <select id="getNationalCar" resultType="com.example.carstoreapi.car.model.CarDTO">
        select *
        FROM car
        WHERE national = #{national}
    </select>

    <select id="getCompanyOfCar" resultType="com.example.carstoreapi.car.model.CarDTO">
        select *
        FROM  car
        where carName LIKE CONCAT('%',#{company},'%')
    </select>
</mapper>

