<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carstoreapi.car.model.FileDAO">

    <insert id="fileUpload" parameterType="com.example.carstoreapi.car.model.FileDTO">
        insert into File (carId, fileName)
        values (#{carId},#{fileName})
    </insert>

    <select id="getFileByCarId" parameterType="int" resultType="com.example.carstoreapi.car.model.FileDTO">
        SELECT * FROM file
        WHERE carId = #{carId}
    </select>
</mapper>

