<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carstoreapi.wishlist.model.WishlistDAO">

    <insert id="postWishList" parameterType="com.example.carstoreapi.wishlist.model.WishlistDTO">
        insert into wishlist (mid, carId, carName, year, distance, area, price, thumb)
        values (#{mid}, #{carId}, #{carName}, #{year}, #{distance}, #{area}, #{price}, #{thumb})
    </insert>

    <select id="getWishListByMid" parameterType="long" resultType="com.example.carstoreapi.wishlist.model.WishlistDTO">
        SELECT * FROM wishlist
        WHERE mid = #{mid}
    </select>

    <delete id="delWishList" parameterType="long">
        DELETE
        FROM wishlist
        WHERE wid = #{wid}
    </delete>

    <select id="getWishCar" parameterType="int" resultType="com.example.carstoreapi.wishlist.model.WishlistDTO">
        SELECT * FROM wishlist
        WHERE carId = #{carId}
    </select>

</mapper>
